// Styling for the navbar
#mainNav {
    background-color: $gray-900;
    .navbar-toggler {
        font-size: 14px;
        right: 0;
        padding: 13px;
        text-transform: uppercase;
        color: white;
        border: 0;
        background: rgb(34, 193, 195);
        background: linear-gradient(180deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
        @include heading-font;
    }
    .navbar-brand {
        color: $meg;
        @include script-font;
        &.active,
        &:active,
        &:focus,
        &:hover {
            color: darken($meg, 10%);
        }
    }
    .logo {
        a {
            img {
                padding-top: 15px;
                padding-bottom: 15px;
                width: 170px;
                height: auto;
            }
        }
    }
    .navbar-nav {
        .nav-item {
            .nav-link {
                font-size: 18px;
                font-weight: bold;
                padding: 0.75em 0;
                letter-spacing: 1px;
                color: white;
                @include heading-font;
                &.active,
                &:hover {
                    color: $meg;
                    // color: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
                }
            }
        }
    }
}

@media(min-width:992px) {
    #mainNav {
        padding-top: 25px;
        padding-bottom: 25px;
        -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
        -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
        transition: padding-top 0.3s, padding-bottom 0.3s;
        border: none;
        background-color: transparent;
        .navbar-brand {
            font-size: 1.75em;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }
        .navbar-nav {
            .nav-item {
                .nav-link {
                    padding: 1.1em 1em !important;
                }
            }
        }
        &.navbar-shrink {
            padding-top: 0;
            padding-bottom: 0;
            background-color: $gray-900; //navbar text/menus color
            .navbar-brand {
                font-size: 4.25em;
                padding: 12px 0;
            }
        }
    }
}


/*
//for logo
.logo {
  background-image: url("img/zakir/logo-black.png");
  width: 60px;
  height: 210px;
  background-repeat: no-repeat;
  //background-attachment: fixed;
  //background-position: left;
}*/